<!DOCTYPE html>
<html>
  <head>
    <title>Application Form</title>
    </head>
    <body>
      <h3>Application Form</h3><br>
      
      <form action = "/job/{{job['id']}}/apply" method = "post">
        <div class = "mb-2">
          <label> Full Name</label><br>
          <input type = "text" name = "full_name" placeholder = "Adam Smith"><br>
          <label> E-mail</label><br>
          <input type = "text" name = "email" placeholder = "adamsmith@gmail.com"><br>
          <label> LinkedIn URL</label><br>
          <input type = "text" name = "linkedin_url"><br>
          <label>Resume URL</label><br>
          <input type = "text" name = "resume_url"><br>
          <label> Work Experience</label><br>
          <textarea name = "work_experience"></textarea><br>
          <label> Education</label><br>
          <textarea name = "education"></textarea><br>
          <input type = "submit">
        </div>
      </form>
    </body>

          
          
          
          
        
        
        
        






        
      </form>
