<!DOCTYPE html>
<html>
  <head>

    
      
    <title>Careers Page</title>
    {% include 'bootstrap.html' %}
    

  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <br>

      <div class = 'container'>
        <h1 class = "text-center mt-2 mb-4">Careers Page</h1> <br>
        
        <div class = 'row' style = "margin-bottom:16px;">
          <div class = 'col-md-6'>
            <p class = 'lead'>
              At [Company Name], we're at the forefront of a technological revolution driven by Artificial Intelligence. Our mission is to harness the power of AI to transform industries, empower businesses, and enhance everyday life. With cutting-edge solutions that push the boundaries of what's possible, we're redefining the future of AI.</p>
              <p class = 'lead'>
                With a team of top-tier AI experts, data scientists, and engineers, we've cultivated a deep knowledge of AI technology and its applications. Our solutions are developed with precision and innovation, solving complex challenges across various domains.
            </p>

          </div>
          <div class = "d-none d-md-block col-6">
            <img src = "static/working.jpeg" style = "height:320px;border-radius:4px;"
          </div>
        </div>
        <br>
        <br>
        <h2 class = "text-center mt mb-4"> Open Positions</h2>

        <div>
          {% for job in jobs%}
            
            {% include 'jobitem.html' %}
          
          {% endfor %}
        </div>
        <div class = 'text-center'><a class = 'btn btn-primary btn-lg' href = "mailto:sagartetalitech@gmail.com?subject=Question%20about%20Job%20Openings&body=Hi%2C%20my%20name%20is">Contact Us</a>
        </div>
    </div>
    {% include 'footer.html'%}
  </body>
  
</html>