<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>Apply To {{job.title}}</title>
  </head>

  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class = 'container'>
      <h1 class = "text-center mt-2 mb-4">Careers Page</h1>
      
        <h3> {{job.title}}</h3>
        <h6>{{job.location}}</h6>
        <h4> Responsibilities </h4>
        <ul>{% for line in job.responsibilities.split("\n") %}
          <li>{{line}}</li>
          {%endfor%}
        
            </ul>
        <h4> Requirements </h4>
        <ol>
          {% for line in job.requirements.split("\n") %}
          <li> {{line}}</li>


          {% endfor %}
          
        </ol></p>
      <h4>Salary</h4>
      <p>{{job.currency}} {{job.salary}}</p>
    </div>
    <div class = "container"
    {% include 'application_form.html' %}
    </div>
  </body>
</html>